<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bootstrap + Angular</title>
</head>
<body>


<section class="home">
  <div class="container">
    <div class="text-center">
      <div class="jumbotron">
        <img src="assets/img/angular-icon-1.svg" width="140" alt="">
        <img src="assets/img/boostrap_logo.svg" width="140" alt="">
        <h1>Bem vindo</h1>
        <p>Este é um projeto para iniciar o desenvolvimento com Angular, bootstrap & Jquery</p>
      </div>
    </div>
  </div>
</section>
  
 
</body>
</html>