@import '~bootstrap/dist/css/bootstrap.min.css';

.home {
    padding: 100px 0 100px 0;
}

.home .jumbotron h1 {
    font-size: 66px;
    font-weight: bolder;
}

.home .jumbotron img {
    margin: 0 30px 30px 0;
}

@media (max-width: 680px) {
    h1 {
        font-size: 22px !important;
    }
}